html,body{
    padding:0 0 0 0;
    margin: 0 0 0 0;
}
body{
    overflow-x: hidden;
}
.main-text{
    font-size: 6rem;
    color:white;
    margin: 0;
    z-index: 1000;
    padding: 0;
    position: absolute;
}  
#header-image{
   margin: 0 -100px 0px 0;
   width: 125vw;
   height:auto;
   image-rendering: smooth;
   object-fit:cover;
   position: absolute;
}
.control-buttons{
    border-radius: 50%;
    cursor: pointer;
    font-size: 3rem;
    color: white;
    font-weight: 900;
    height: 5rem;
    width: 5rem;
    background-color: black;
    opacity: 0.5;
    transition: all 2s ease;
}
.control-buttons:hover{
    opacity: 0.9;
}
.glide{
    top: 8rem;
    max-width: 40rem;
}
.glide__slide{
    max-width: 40rem;
    font-weight: 800;
    font-size:3rem;
    display: inline-block;
    color:white;
}
@media only screen and (max-width: 700px){
    #header-image{
    margin: -10px -200px 0px -280px;
    width: 200vw;
    }
.main-text{
    font-size: 3rem;
} 
.glide{
    top: 8rem;
}
.glide__slide{
    font-size: 2rem;
}
}